body {
  background-color: #FDFFCC;
}
#content {
  margin: 0px auto;
  width: 800px;
  font-size: 14pt;
  font-family: 'Bookman Old Style', serif;
  text-indent: 25px;
  line-height: 1.8em;
  text-align: justify;
}
