body {
  background-color: #FDFFCC;
}
#content {
  margin: 0px auto;
  max-width: 850px;
  font-size: 14pt;
  font-family: 'Bookman Old Style', Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  line-height: 1.6em;
  margin-top: 100px;
  text-align: justify;
}

blockquote {
    border-left: 4px solid #FF3232;
    padding-left:  20px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    margin-bottom: 10px;
}

blockquote p {
  margin: 0;
  padding: 0;
}

blockquote p:last-child {
  text-align: right;
}
